<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Page</title>
</head>

<style>
#img01{
    width: 15%;
    float: left;
    padding-right: 15px;
}

</style>

<body>
    
    <div class="container-fluid">

        <div>
            <img src="../../../resources/images/feet-1840619_640.jpg" alt="상품이미지" id="img01">
            <span style="color: gray;">[MovingCloset]</span><br>
            <span>상품명</span><br>
            <span>사이즈: </span>
        </div>
        <br>
        <hr>
        <div>
            <span>상품은 만족하셨나요?</span><br>
            별표
            선택하세요
        </div>
        <hr>
        <div>
            원단은 어떤가요?
            라디오 버튼 (부드러워요 보통이에요 뻣뻣해요)
        </div>
        <hr>
        <div>
            착용감은 어떤가요?
            불편해요 편해요 아주편해요
        </div>  
        <hr>
        <div>
            사이즈는 어떤가요?
            한치수 작게요 적당해요 한 치수 크게요
        </div>  
        <hr>
        <div>
            마감처리는 어떤가요?
        </div>    
        <hr>
        <div>
            상품에 대한 한줄평을 남겨주세요.(최대 100자) <br>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div>
            사진아이콘 사진/동영상 첨부하기<br>
            <span>상품과 무관한 사진/동영상을 첨부한 리뷰는 통보없이 삭제 및 적립 혜택이 회수됩니다.</span>
        </div>
    </div>



</body>
</html>